body{
    margin: 0%;
    padding: 0%;
    font-family:Arial, Helvetica, sans-serif;
}
.card{
    width: 50%;
    margin:auto;
    padding: 20px;
    background-color:rgb(92, 67, 67);
    margin-top: 30px;
}
.form-group{
    width: 100%; 
    margin-bottom: 12px;
}
.form-group label{
    display: black;
}
 .form-control{
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid black;
}
.btn{
    padding: 10px 15px;
    border-style:none;
}
     .btn:hover{
        cursor:pointer;
    }

.btn-success{
    background-color: rgb(173, 230, 218) ;
    color:#000000;
}